/* 
* @Author: Marte
* @Date:   2016-10-11 21:36:18
* @Last Modified by:   Marte
* @Last Modified time: 2016-10-11 21:43:34
*/
a{
    text-decoration:none;
    padding:8px 10px;
    background-color:#ccc;
    font-size:12px;
    margin:10px;
}