/* 
* @Author: Marte
* @Date:   2016-09-07 20:52:46
* @Last Modified by:   Marte
* @Last Modified time: 2016-09-15 23:06:12
*/
li{
    list-style:none;
    position: absolute;
}
h2{
    font-size:13px;
}
img{
    display:block;
}