/* 
* @Author: Marte
* @Date:   2016-09-07 20:52:46
* @Last Modified by:   Marte
* @Last Modified time: 2016-09-30 21:25:50
*/
*{
    margin:0;
    padding:0;
}
#QQ{
    width:300px;
    list-style:none;
    margin:0 auto;
}
li{
    list-style:none;
}
h2{
    width:300px;
    background-color:rgb(64,128,128);
    font-size:18px;
    font-weight:normal;
    text-align:center;
    color:#F1F1F1;
    border:1px solid red;
    padding:4px;
}
#QQ ul li{
    width:298px;
    height:20px;
    line-height:20px;
    padding:5px;
    border:1px solid #ccc;
}
.list ul{
    display:none;
}
.active{
    color:yellow;
}
.activ{
    background-color:red;
}