/* 
* @Author: Marte
* @Date:   2016-09-07 20:52:46
* @Last Modified by:   Marte
* @Last Modified time: 2016-09-08 20:47:37
*/
#can{
    width:280px;
    height:100%;
    margin:0 auto;
    background-color:#ccc;
    border:2px solid #aaa;
}
h1{
    text-align:center;
    font-size:16px;
}
ul{
    width:240px;
    padding-left:15px;
}
li{
    list-style:none;
    display:inline-block;
    padding:3px;
}
h2{
    color:#fff;
    width:50px;
    height:50px;
    line-height:50px;
    background-color:#000;
    text-align:center;
    font-size:12px;
}
.active{
    color:#000;
    background-color:#fff;
    cursor:pointer;
}
#div1{
    text-align:center;
}